<div class="alert alert-secondary" role="alert" *ngFor="let item of items">
  {{item.name}} - {{item.id}}
  <div class="float-right" (click)="eliminar(item)">
    <i class="fas fa-eraser"></i>
  </div>
  <div class="float-right mx-2" data-toggle="modal" data-target="#exampleModal" (click)="editar(item)">
    <i class="fas fa-pen"></i>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar: {{editarItem.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="agregarItemEditado()">
          <input 
          type="text" placeholder="Ingresa tu nombre" 
          name="name" class="form-control"
          [(ngModel)]="editarItem.name">
          <button type="submit" class="btn btn-danger mt-3" data-dismiss="modal">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>